/* Controls width of the widget */
.badge-container {width:700px; margin: 0 auto;}

/* Makes Badges display inline */
#badges li { display: inline;}

/* Controls badges row offset. THIS FUNCTION WILL CHANGE BASED ON THE NUMBER OF BADGES PER ROW */
/* Indent 30px every eleventh badge, repeat every 20 badges */
#badges li:nth-child(20n+11) {margin-left:30px;}

/* Controls badges size and alignment */
#badges li img {
    width: 60px;
    margin:-17px 2px 0px 0px;
}

/* Controls Header Formatting */
.badge-container h1 {
    text-align:center;
    font-family: 'Helvetica Neue';
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
}

/* Controls badges on-hover opacity */
#badges li img:hover {opacity:.7;}