@import "bootstrap.scss";
@import "home.scss";
@import "project.scss";
@import "education.scss";



header,
footer {
 height: 96px;
}

#about,
#dev-stack,
#projects,
#project,
#contact {
  padding: 100px 0;

  h2.section-title {
    font-size: 44px;
    margin-bottom: 60px;
  }
}

.card {
  border: 1px solid #f2f2f2;
  transition: all 0.15s ease-in-out;
}


/* Header Section
 *******************************************/
.navbarTogglerDemo01 a {
  color: white;
}

.iconLogo{
  margin-right: 25px;
  height: 60px;
  width: 60px;
}


/* Contact Section
 *******************************************/
#contact {
  p {
    text-align: center;
  }
  input,
  textarea {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 8px;
  }
  textarea {
    height: 140px;
  }
}




/* Footer Section
 *******************************************/

footer {
  padding: 20px;

  .social-media-icons, p {
    text-align: center;
    margin-bottom: 0;
  }

  p {
    margin-top: 5px;
  }

}


.treehouse-badges {
  text-align: center;
  h4 img {
    height: 100px;
  }
}