<!-- PROJECTS LIST SECTION
 *********************************** -->
<section id="projects" class="bg-grey">
  <div class="container">
    <h2 class="section-title text-center">List Of My Recent Projects</h2>
    <div class="row" *ngFor="let course of courses">
      <a class="card project-container col-12" (click)="goToCourseDetailsPage(course.sys.id)">
        <div class="d-flex flex-wrap flex-xl-nowrap flex-lg-nowrap flex-md-nowrap">
          <img src="{{course.fields.courseImage.fields.file.url}}" class="project-thumbnail" width="100%" />
          <div class="project-info">
            <h2 class="title">
              {{course.fields.title}}
            </h2>
            <div [innerHTML]="course.fields.description | mdToHtml"> </div>
            <small class="block">Technologies</small>
            <ul class="tech-list">
              <li class="tech" *ngFor="let x of course.fields.author; let i=index;">
                {{course.fields.author[i]}}&nbsp;
              </li>
            </ul>
          </div>
        </div>
      </a>
    </div>
  </div>
</section>
<!-- PROJECTS LIST SECTION
********************* -->