<!-- ABOUT SECTION
 *********************************** -->
<section id="about" class="jumbotron-fluid dark hero">
  <div class="container">
    <div class="row">
      <div class="col-md-2 col-lg-3">
        <img src="../../assets/images/mawel-mirabal-avatar.png" alt="..." class="avatar">
      </div>
      <div class="col-md-8 col-lg-7">
        <h1 class="display-4 about-header">Web Developer For Hire</h1>
        <p class="about-title">Mawel Mirabal</p>
        <p>I'm an ITT Technical Institute graduate and a web developer, I love computer programming and anything that challenges
          my mind. My purpose is to specialize in back end development and have an understanding of front end development.
          I am very analytical and deep thinker.</p>
        <ul class="social-media-icons">
          <li><a href="https://github.com/mmirabalp"><i class="fa fa-github" aria-hidden="true"></i></a></li>
          <li><a href="https://teamtreehouse.com/mawelmirabal"><i class="fa fa-code-fork" aria-hidden="true"></i></a></li>
          <li><a href="https://www.freecodecamp.org/mmirabalp"><i class="fa fa-free-code-camp" aria-hidden="true"></i></a></li>
          <li><a href="https://codepen.io/mmirabalp/"><i class="fa fa-codepen" aria-hidden="true"></i></a></li>
          <li><a href="https://www.linkedin.com/in/mawel-mirabal-b63b9b4b/"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
        </ul>
        <div class="hero-buttons">
          <!-- <a class="btn btn-outline-primary round" href="#" role="button">My Resume</a> -->
          <a class="btn btn-primary round" href="contact" role="button">Hire Me</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ABOUT SECTION
  *********************************** -->
