<!-- ABOUT SECTION
 *********************************** -->
<section id="about" class="jumbotron-fluid dark hero">
  <div class="container">
    <div class="row">
      <div class="col-md-2 col-lg-3">
        <img src="https://secure.gravatar.com/avatar/c941ae11d0dfafec6b3378b18aa0b596?s=136" alt="Mawel Mirabal Profile Image" class="avatar">
      </div>
      <div class="col-md-8 col-lg-7">
        <h1 class="display-4 about-header">Web Developer For Hire</h1>
        <p class="about-title">Mawel Mirabal</p>
        <p class="about-text">I'm an ITT Technical Institute graduate and a web developer, I love computer programming and anything that challenges
          my mind. My purpose is to specialize in front-end development and have an understanding of back-end development.
          I am very analytical and deep thinker.</p>
          
         

        <ul class="social-media-icons">
          <li class="aboutIcons"><a href="https://github.com/mmirabalp"><i class="fa fa-github tooltip" aria-hidden="true"><span class="tooltiptext">Github</span></i></a></li>
          <li class="aboutIcons"><a href="https://teamtreehouse.com/mawelmirabal"><i class="fa fa-code-fork tooltip" aria-hidden="true"><span class="tooltiptext">Treehouse</span></i></a></li>
          <li class="aboutIcons"><a href="https://www.udemy.com/user/mawelmirabal2/"><i class="fa fa-underline tooltip" aria-hidden="true"><span class="tooltiptext">Udemy</span></i></a></li>
          <li class="aboutIcons"><a href="https://www.freecodecamp.org/mmirabalp"><i class="fa fa-free-code-camp tooltip" aria-hidden="true"><span class="tooltiptext">Freecodecamp</span></i></a></li>
          <!-- <li><a href="https://codepen.io/mmirabalp/"><i class="fa fa-codepen tooltip" aria-hidden="true"><span class="tooltiptext">Codepen</span></i></a></li> -->
          <!-- <li><a href="https://www.instagram.com/mawelmirabal/"><i class="fa fa-instagram tooltip" aria-hidden="true"><span class="tooltiptext">Instagram</span></i></a></li> -->
          <!-- <li class="aboutIcons"><a href="https://twitter.com/mawel3712"><i class="fa fa-twitter tooltip" aria-hidden="true"><span class="tooltiptext">Twitter</span></i></a></li> -->
          <li class="aboutIcons"><a href="https://www.linkedin.com/in/mawel-mirabal-b63b9b4b/"><i class="fa fa-linkedin tooltip" aria-hidden="true"><span class="tooltiptext">Linkedin</span></i></a></li>
          <li class="aboutIcons"><a href="https://docs.google.com/document/d/e/2PACX-1vTukbYcu3DSF6-3YVggq6E2UzDhNDfY-LII4HEgjeltNLNBatP1Taj8UqW7rKl9aveK9JkLcdGbccjb/pub"><i class="fa fa-newspaper-o tooltip" aria-hidden="true"><span class="tooltiptext">Curriculum Vitae</span></i></a></li>
        </ul>
        <div class="hero-buttons">
          <a class="btn btn-primary round" href="contact" role="button">Hire Me</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ABOUT SECTION
  *********************************** -->