<!-- CODE CHALLENGE SECTION *********************************** -->
    
    <!-- ABOUT SECTION
        *********************************** -->
<!-- <div ng-controller="codesCtrl">
    <section class="jumbotron jumbotron-fluid dark hero">
        <div class="container">
            <div class="row">
                <div class="col-md-2 col-lg-3">
                    <img src="../src/assets/images/codes/fizzbuzz.svg" alt="..." class="avatar">
                </div>
                <div class="col-md-8 col-lg-7">
                    <h1 class="display-4 about-header">{{codeName.fields.projectname}}</h1>
                    <p>Write a short program that prints each number from 1 to 100 on a new line. For each multiple of 3, print "Fizz instead of the number.
                    For each multiple of 5, print "Buzz" instead of the number. For numbers which are multiples of both 3 and 5, print "FizzBuzz" instead of the number.</p>
 
                </div>
            </div>
        </div>
    </section>   
</div> -->
<!-- CODE CHALLENGE SECTION *********************************** -->

<h3>Hola from codechallenge.htm

</h3>
