
    <!-- ABOUT SECTION
    *********************************** -->
        <section id="about" class="jumbotron jumbotron-fluid dark hero">
            <div class="container">
                <div class="row">
                    <div class="col-md-2 col-lg-3">
                        <img src="../src/assets/images/mawel-mirabal-avatar.png" alt="..." class="avatar">
                    </div>
                    <div class="col-md-8 col-lg-7">
                        <h1 class="display-4 about-header">Web Developer Portfolio</h1>
                        <p>Hi, my name is Mawel Mirabal. I am a front-end developer looking for a team that allows me to get outside my comfort zone.The
                        MERN stack, React and Javascript are where I have spent most of my time learning, but I am always excited to learn new
                        technologies.</p>
                        <ul class="social-media-icons">
                            <li data-toggle="tooltip" data-placement="bottom" title="Github"><a href="https://github.com/mmirabalp"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                            <li data-toggle="tooltip" data-placement="bottom" title="TeamTreeHouse"><a href="https://teamtreehouse.com/mawelmirabal"><i class="fa fa-code-fork" aria-hidden="true"></i></a></li>
                            <li data-toggle="tooltip" data-placement="bottom" title="FreeCodeCamp"><a href="https://www.freecodecamp.org/mmirabalp"><i class="fa fa-free-code-camp" aria-hidden="true"></i></a></li>
                            <li data-toggle="tooltip" data-placement="bottom" title="CodePen"><a href="https://codepen.io/mmirabalp/"><i class="fa fa-codepen" aria-hidden="true"></i></a></li>
                            <li data-toggle="tooltip" data-placement="bottom" title="LinkeIn"><a href="https://www.linkedin.com/in/mawel-mirabal-b63b9b4b/"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                        </ul>
                        <div class="hero-buttons">
                            <!-- <a class="btn btn-outline-primary round" href="#" role="button">My Resume</a> -->
                            <a class="btn btn-primary round" href="#contact" role="button">Hire Me</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    <!-- ABOUT SECTION
    *********************************** -->

    <!-- DEV STACK SECTION
    *********************************** -->
        <section id="dev-stack">
            <div class="container">
                <h2 class="section-title text-center">Development Stack Tools</h2>
                <div class="row">
                    <div class="mx-auto px-3">
                        <div class="row dev-stack-icons">
                            <li class="col-sm-3 col-6"><img src="../src/assets/images/technology/html5.svg" alt="HTML5" data-toggle="tooltip" data-placement="top" title="HTML5"></li>
                            <li class="col-sm-3 col-6"><img src="../src/assets/images/technology/css3.svg" alt="CSS3" data-toggle="tooltip" data-placement="top" title="CSS3"></li>
                            <li class="col-sm-3 col-6"><img src="../src/assets/images/technology/javascript.svg" alt="JAVASCRIPT" data-toggle="tooltip" data-placement="top" title="JAVASCRIPT"></li>
                            <li class="col-sm-3 col-6"><img src="../src/assets/images/technology/github.svg" alt="GITHUB" data-toggle="tooltip" data-placement="top" title="GITHUB"></li>
                        </div>
                        <div class="row dev-stack-icons">
                            <li class="col-sm-3 col-6"><img src="../src/assets/images/technology/sass.svg" alt="SASS" data-toggle="tooltip" data-placement="bottom" title="SASS"></li>
                            <li class="col-sm-3 col-6"><img src="../src/assets/images/technology/bootstrap.svg" alt="BOOTSTRAP" data-toggle="tooltip" data-placement="bottom" title="BOOTSTRAP"></li>
                            <li class="col-sm-3 col-6"><img src="../src/assets/images/technology/react.svg" alt="REACT" data-toggle="tooltip" data-placement="bottom" title="REACT"></li>
                            <li class="col-sm-3 col-6"><img src="../src/assets/images/technology/nodejs2.svg" alt="NODEJS" data-toggle="tooltip" data-placement="bottom" title="NODEJS"></li>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    <!-- DEV STACK SECTION
    ********************* -->

    <!-- PROJECTS SECTION
    *********************************** -->
     <section id="projects" class="bg-grey">
        <div class="container">
            <h2 class="section-title text-center">Recent Projects</h2>      
            <div class="row" ng-repeat="project in projects">
                <a class="card project-container" href="#!/project/{{$a=$index+1}}">
                    <img class="img-fluid" src="http://{{project.fields.imageUrl}}" alt="{{project.fields.title}} image" />
                    <div class="d-flex justify-content-between">
                        <div class="project-info">
                            <h3 class="title">{{project.fields.title}}</h3>
                            <p>Technologies</p>
                            <ul class="tech-list">
                                <li class="tech" ng-repeat="projects in project.fields.technologies">{{projects}} </li>
                            </ul>
                        </div>
                        <div class="d-flex"><img src="../src/assets/images/icon_next.svg" alt=""></div>
                    </div>
                </a>
            </div>
        </div>
     </section>
    <!-- PROJECT SECTION
    ********************* -->

    <!-- CONTACT SECTION
    ********************* -->
    <section id="contact" class="dark">
        <div class="container">
            <h2 class="section-title text-center">Let's Talk</h2>
            <div class="row justify-content-center">
                <div class="col-lg-5">
                    <div class="px-3">
                        <p>If you have any questions or have open opportunities,
                            feel free to send me a message here.</p>
    
                        <form action='https://formspree.io/mmirabalp@gmail.com' class='contactForm'
                            id='contact_form' method='POST'>
    
                            <input name='email' placeholder='Email'
                                required type='email'>
    
                            <input name='text' placeholder='Name'
                                required
                                type='text'>
    
                            <textarea class='input inputMessage' name='body'
                                    placeholder='Message'
                                    required></textarea>
                            <button class='btn btn-primary btn-block round' type='submit'>Submit</button>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- CONTACT SECTION
    ********************* -->

    <script src="../js/main.js"></script>

