<div class="jumbotron">
    <div class="container text-center">
        <h1>Project Title</h1>
    </div>
</div>


<div class="container">
    <div class="row">

        <p><a href="#!home">&larr; Go Back home</a></p>

        <div class="col-sm-8">
            <img src="http://placehold.it/700x500" alt="">
        </div>

        <div class="col-sm-4">
            <div class="well">
                <h4>Project Description</h4>
                <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
            </div>

            <div class="well">
                <h4>Technologies / Tools</h4>
                <ul>
                    <li>Tool 1</li>
                    <li>Tool 2</li>
                    <li>Tool 3</li>
                </ul>
            </div>

            <span>Url: <a href="#">http://www.project-link-here.com</a></span>

        </div>

    </div>
</div>