<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-2">UX Design <br> &amp; Branding</h1>
        <p class="lead">Portfolio of Enok Madrid</p>
        <p><a class="btn btn-lg btn-primary round brand-gradient" href="#" role="button">Let's Connect</a></p>
    </div>
</div>

<div class="jumbotron jumbotron-fluid dark">
    <div class="container">
        <h1 class="display-2">UX Design <br> &amp; Branding</h1>
        <p class="lead">Portfolio of Enok Madrid</p>
        <p><a class="btn btn-lg btn-primary round brand-gradient" href="#" role="button">Let's Connect</a></p>
    </div>
</div>

  <div class="container">

      <div class="row">
          <div>
              <h1 class="display-1">Header 1 - Display 1 <br> <small>Allow me to reintroduce myself</small></h1>
              <h1 class="display-2">Header 1 - Display 2 <br> <small>Allow me to reintroduce myself</small></h1>
              <h1 class="display-3">Header 1 - Display 3 <br> <small>Allow me to reintroduce myself</small></h1>
              <h1 class="display-4">Header 1 - Display 4 <br> <small>Allow me to reintroduce myself</small></h1>

              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam, ad, ab dolor delectus porro labore natus eos unde nihil dignissimos quo possimus maxime explicabo. Provident repellendus praesentium animi velit ipsa!</p>
          </div>
          <div class="col-lg-6">
                <h1>h1 (Semibold 36px)</h1>
                <h2>h2 (Semibold 30px)</h2>
                <h3>h3 (Semibold 24px)</h3>
                <h4>h4 (Semibold 18px)</h4>
                <h5>h5 (Semibold 14px)</h5>
                <h6>h6 (Semibold 12px)</h6>
          </div>
          <div class="col-lg-6">
                <h1>Heading 1 <small>Sub-heading</small></h1>
                <h2>Heading 2 <small>Sub-heading</small></h2>
                <h3>Heading 3 <small>Sub-heading</small></h3>
                <h4>Heading 4 <small>Sub-heading</small></h4>
                <h5>Heading 5 <small>Sub-heading</small></h5>
                <h6>Heading 6 <small>Sub-heading</small></h6>
          </div>

          <br><br>

        <div class="col-lg-6">
          <h4>Subheading</h4>
          <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

          <h4>Subheading</h4>
          <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

          <h4>Subheading</h4>
          <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>

        </div>

          <br><br>

        <div class="col-lg-6">
          <h4>Subheading</h4>
          <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

          <h4>Subheading</h4>
          <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

          <h4>Subheading</h4>
          <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
        </div>
        <div class="col-lg-12">
            <a class="btn btn-lg btn-primary round" href="#" role="button">Let's Connect</a>
            <a class="btn btn-lg btn-secondary round" href="#" role="button">Secondary</a>
            <a class="btn btn-lg btn-success round" href="#" role="button">Success</a>
            <a class="btn btn-lg btn-warning round" href="#" role="button">Warning</a>
            <a class="btn btn-lg btn-danger round" href="#" role="button">Danger</a>
        </div>
          <div class="col-lg-12">
              <a class="btn btn-lg btn-outline-primary round" href="#" role="button">Let's Connect</a>
              <a class="btn btn-lg btn-outline-secondary round" href="#" role="button">Secondary</a>
              <a class="btn btn-lg btn-outline-success round" href="#" role="button">Success</a>
              <a class="btn btn-lg btn-outline-warning round" href="#" role="button">Warning</a>
              <a class="btn btn-lg btn-outline-danger round" href="#" role="button">Danger</a>
          </div>
          <div class="col-lg-12">
              <a class="btn btn-primary round" href="#" role="button">Let's Connect</a>
              <a class="btn btn-secondary round" href="#" role="button">Secondary</a>
              <a class="btn btn-success round" href="#" role="button">Success</a>
              <a class="btn btn-warning round" href="#" role="button">Warning</a>
              <a class="btn btn-danger round" href="#" role="button">Danger</a>
          </div>
          <div class="col-lg-12">
              <a class="btn btn-outline-primary round" href="#" role="button">Let's Connect</a>
              <a class="btn btn-outline-secondary round" href="#" role="button">Secondary</a>
              <a class="btn btn-outline-success round" href="#" role="button">Success</a>
              <a class="btn btn-outline-warning round" href="#" role="button">Warning</a>
              <a class="btn btn-outline-danger round" href="#" role="button">Danger</a>
          </div>
          <div class="col-lg-12">
              <a class="btn btn-sm btn-primary round" href="#" role="button">Let's Connect</a>
              <a class="btn btn-sm btn-secondary round" href="#" role="button">Secondary</a>
              <a class="btn btn-sm btn-success round" href="#" role="button">Success</a>
              <a class="btn btn-sm btn-warning round" href="#" role="button">Warning</a>
              <a class="btn btn-sm btn-danger round" href="#" role="button">Danger</a>
          </div>
          <div class="col-lg-12">
              <a class="btn btn-sm btn-outline-primary round" href="#" role="button">Let's Connect</a>
              <a class="btn btn-sm btn-outline-secondary round" href="#" role="button">Secondary</a>
              <a class="btn btn-sm btn-outline-success round" href="#" role="button">Success</a>
              <a class="btn btn-sm btn-outline-warning round" href="#" role="button">Warning</a>
              <a class="btn btn-sm btn-outline-danger round" href="#" role="button">Danger</a>
          </div>
      </div>





    </div> <!-- /container -->
<section class="dark">
    <div class="container">

        <div class="row">
            <div>
                <h1 class="display-1">Header 1 - Display 1 <br> <small>Allow me to reintroduce myself</small></h1>
                <h1 class="display-2">Header 1 - Display 2 <br> <small>Allow me to reintroduce myself</small></h1>
                <h1 class="display-3">Header 1 - Display 3 <br> <small>Allow me to reintroduce myself</small></h1>
                <h1 class="display-4">Header 1 - Display 4 <br> <small>Allow me to reintroduce myself</small></h1>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam, ad, ab dolor delectus porro labore natus eos unde nihil dignissimos quo possimus maxime explicabo. Provident repellendus praesentium animi velit ipsa!</p>
            </div>
            <div class="col-lg-6">
                <h1>h1 (Semibold 36px)</h1>
                <h2>h2 (Semibold 30px)</h2>
                <h3>h3 (Semibold 24px)</h3>
                <h4>h4 (Semibold 18px)</h4>
                <h5>h5 (Semibold 14px)</h5>
                <h6>h6 (Semibold 12px)</h6>
            </div>
            <div class="col-lg-6">
                <h1>Heading 1 <small>Sub-heading</small></h1>
                <h2>Heading 2 <small>Sub-heading</small></h2>
                <h3>Heading 3 <small>Sub-heading</small></h3>
                <h4>Heading 4 <small>Sub-heading</small></h4>
                <h5>Heading 5 <small>Sub-heading</small></h5>
                <h6>Heading 6 <small>Sub-heading</small></h6>
            </div>

            <br><br>

            <div class="col-lg-6">
                <h4>Subheading</h4>
                <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

                <h4>Subheading</h4>
                <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

                <h4>Subheading</h4>
                <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>

            </div>

            <br><br>

            <div class="col-lg-6">
                <h4>Subheading</h4>
                <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

                <h4>Subheading</h4>
                <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

                <h4>Subheading</h4>
                <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
            </div>
            <div class="col-lg-12">
                <a class="btn btn-lg btn-primary round" href="#" role="button">Let's Connect</a>
                <a class="btn btn-lg btn-secondary round" href="#" role="button">Secondary</a>
                <a class="btn btn-lg btn-success round" href="#" role="button">Success</a>
                <a class="btn btn-lg btn-warning round" href="#" role="button">Warning</a>
                <a class="btn btn-lg btn-danger round" href="#" role="button">Danger</a>
            </div>
            <div class="col-lg-12">
                <a class="btn btn-lg btn-outline-primary round" href="#" role="button">Let's Connect</a>
                <a class="btn btn-lg btn-outline-secondary round" href="#" role="button">Secondary</a>
                <a class="btn btn-lg btn-outline-success round" href="#" role="button">Success</a>
                <a class="btn btn-lg btn-outline-warning round" href="#" role="button">Warning</a>
                <a class="btn btn-lg btn-outline-danger round" href="#" role="button">Danger</a>
            </div>
            <div class="col-lg-12">
                <a class="btn btn-primary round" href="#" role="button">Let's Connect</a>
                <a class="btn btn-secondary round" href="#" role="button">Secondary</a>
                <a class="btn btn-success round" href="#" role="button">Success</a>
                <a class="btn btn-warning round" href="#" role="button">Warning</a>
                <a class="btn btn-danger round" href="#" role="button">Danger</a>
            </div>
            <div class="col-lg-12">
                <a class="btn btn-outline-primary round" href="#" role="button">Let's Connect</a>
                <a class="btn btn-outline-secondary round" href="#" role="button">Secondary</a>
                <a class="btn btn-outline-success round" href="#" role="button">Success</a>
                <a class="btn btn-outline-warning round" href="#" role="button">Warning</a>
                <a class="btn btn-outline-danger round" href="#" role="button">Danger</a>
            </div>
            <div class="col-lg-12">
                <a class="btn btn-sm btn-primary round" href="#" role="button">Let's Connect</a>
                <a class="btn btn-sm btn-secondary round" href="#" role="button">Secondary</a>
                <a class="btn btn-sm btn-success round" href="#" role="button">Success</a>
                <a class="btn btn-sm btn-warning round" href="#" role="button">Warning</a>
                <a class="btn btn-sm btn-danger round" href="#" role="button">Danger</a>
            </div>
            <div class="col-lg-12">
                <a class="btn btn-sm btn-outline-primary round" href="#" role="button">Let's Connect</a>
                <a class="btn btn-sm btn-outline-secondary round" href="#" role="button">Secondary</a>
                <a class="btn btn-sm btn-outline-success round" href="#" role="button">Success</a>
                <a class="btn btn-sm btn-outline-warning round" href="#" role="button">Warning</a>
                <a class="btn btn-sm btn-outline-danger round" href="#" role="button">Danger</a>
            </div>
        </div>

    </div> <!-- /container -->
</section>

<div class="container">
        <footer class="footer">
            <p>&copy; Company 2014</p>
        </footer>
    </div>
