







<!--START NAVIGATION SECTION
        *********************** -->
<!-- <header class="navigation dark">
  <nav class="navbar navbar-expand-lg justify-content-end fixed-top navigation dark" role="navigation">
    <div class="container-fluid">
      <a class="navbar-brand mr-auto mt-2 mt-lg-0" href="#about">
        <img src="assets/images/custom-coding.svg" class="iconLogo">
      </a>

      <button id="menu" class="navbar-toggler inner" type="button" data-toggle="collapse" aria-controls="navbarTogglerDemo01" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon">
          <i class="fa fa-bars fa-1x" aria-hidden="true"></i>
        </span>
      </button>

      <div class="collapse navbar-collapse inner" id="collapsibleNavbar">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" routerLink="about">About
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="devstack">Dev Stack</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="courses">Projects</a>
          </li>
        </ul>
        <a class="btn btn-outline-primary round" routerLink="contact">Contact</a>
      </div>
      <script type="application/javascript">
        $("#menu").click(function () {
          $("#collapsibleNavbar").toggle();
        });

      </script>
    </div>
    <script src="assets/js/navigation.js"></script>
  </nav>
</header> -->
<!-- END NAVIGATION SECTION
                  *********************** -->


<!--START ANGULAR MODULE SHOW SECTION
        *********************** -->
<div>
  <router-outlet>

  </router-outlet>
</div>
<!--END ANGULAR MODULE SHOW SECTION
        *********************** -->



<!--START FOOTER SECTION
        *********************** -->
<footer class="dark">
  <ul class="social-media-icons">
    <li>
      <a href="https://github.com/mmirabalp">
        <i class="fa fa-github" aria-hidden="true"></i>
      </a>
    </li>
    <li>
      <a href="https://teamtreehouse.com/mawelmirabal">
        <i class="fa fa-code-fork" aria-hidden="true"></i>
      </a>
    </li>
    <li>
      <a href="https://www.freecodecamp.org/mmirabalp">
        <i class="fa fa-free-code-camp" aria-hidden="true"></i>
      </a>
    </li>
    <li>
      <a href="https://codepen.io/mmirabalp/">
        <i class="fa fa-codepen" aria-hidden="true"></i>
      </a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/mawel-mirabal-b63b9b4b/">
        <i class="fa fa-linkedin" aria-hidden="true"></i>
      </a>
    </li>
  </ul>
  <p>© 2016 Company, Inc.</p>
</footer>
<!--END FOOTER SECTION
        *********************** -->