<!-- DEV STACK SECTION
 *********************************** -->
 <section id="dev-stack">
    <div class="container">
  
      <h2 class="section-title text-center">My Web Development Stack</h2>
  
      <div class="row">
        <div class="col-sm-12 col-md-12 web-dev-stack">
          <div class="web-dev-stack-container">
            <ul class="dev-stack-icons">
              <li><img src="../../assets/images/icon-html.svg" alt=""></li>
              <li><img src="../../assets/images/icon-css.svg" alt=""></li>
              <li><img src="../../assets/images/icon-js.svg" alt=""></li>
              <li><img src="../../assets/images/icon-php.svg" alt=""></li>
              <li><img src="../../assets/images/icon-sql.svg" alt=""></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- DEV STACK SECTION
  ********************* -->
