$blue:    #1B9CD7 !default;

$font-family-sans-serif:      "Open Sans", "Helvetica Neue", Arial, sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;

$border-radius:               .35rem !default;
$border-radius-lg:            .4rem !default;
$border-radius-sm:            .25rem !default;

$input-btn-padding-y:       .8rem !default;
$input-btn-padding-x:       2rem !default;
$input-btn-line-height:     1.25 !default;

$input-btn-padding-y-sm:    .25rem !default;
$input-btn-padding-x-sm:    .5rem !default;
$input-btn-line-height-sm:  1.5 !default;

$input-btn-padding-y-lg:    .8rem !default;
$input-btn-padding-x-lg:    2.5rem !default;
$input-btn-line-height-lg:  1.5 !default;

$display1-size:               6rem !default;
$display2-size:               5rem !default;
$display3-size:               4rem !default;
$display4-size:               3rem !default;

$navbar-padding-y:            1rem !default;
$navbar-padding-x:            1rem !default;