/* ABOUT SECTION
 *******************************************/
#about {
  background-image: url(../images/image-hero.png);
  background-repeat: no-repeat;
  background-size: cover;

  .row {
    margin-top: 30px;
    margin-bottom: 80px;
    @include media-breakpoint-down(sm) {
      margin: 0;
    }
  }

  .avatar {
    height: 136px;
    width: 136px;
    border-radius: 50%;
    float: right;
    margin-top: 10px;
    @include media-breakpoint-down(md) {
      // margin-top: 0;
          height: 120px;
          width: 120px;
    }
    @include media-breakpoint-down(sm) {
      height: 90px;
      width: 90px;
      float: left;
      display: none;

    }
  }
}


.about-title {
  font-size: 20px;
  line-height: 33px;
  text-transform: uppercase;
}

.about-header{
  margin-top: 20px;
}

.social-media-icons {
  list-style: none;
  padding-left: 0;

  li {
    height: 36px;
    width: 36px;
    background-color: rgba(255,255,255,0.1);
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    text-align: center;
    margin-right: 12px;

    &:hover {
      background-color: rgba(255,255,255,0.3);
      box-shadow: $shadow-dark;
    }

    a {
      width: 100%;
    }

  }

}

.dev-stack-icons{
  padding: 0;
  text-align: center;

  li {
    padding: 1rem;
    display: inline;
  }
}

.row .dev-stack-icons li{
  cursor: hello;
}



/* DEV STACK SECTION
 *******************************************/
.hero-secondary {
  .web-dev-stack {
    font-size: 32px;
    text-align: center;

  }
}

.stack-letters{
      height: 70px;
      width: 70px;
}




/* PROJECTS SECTION
 *******************************************/
.project-container {
  background-color: white;
  // margin-bottom: 30px;
  display: inline;


  &:hover {
    box-shadow: $shadow-default;

    &:after {
      transition: opacity .15s ease-in-out;
      opacity: 0.1;
      @include media-breakpoint-down(md) {
        display: none;
      }
    }
  }

  // FONT AWESOME ANGLE ICON
  &:after {
    content: "\f105";
    font-family: "fontawesome";
    font-size: 60px;
    float: right;
    color: #1b1e21;
    opacity: 0;
    display: block;
    top: 25%;
    right: 10px;
    position: absolute;
    transition: opacity .15s ease-in-out;
  }

  .project-thumbnail,
  .project-info {
    display: block;
    float: left;
  }

  .project-thumbnail {
    background-color: $dark;
    background-size: cover;

    &:after {
      content: "";
      background: $dark;
      display: block;
      height: inherit;
      opacity: 0.2;
    }

  }


  .project-info {
    padding: $spacer;
    .title {
      color: #2C2C36;
      margin-top: 0px;
    }
    p {
      color: #08131F;
      margin: 10px 0;
    }

    .tech-list {
      display: inline-block;
      list-style: none;
      padding-left: 0;

      .tech {
        $tech-height: 16px;
        border: 1px solid $blue;
        color: $blue;
        height: 20px;
        line-height: $tech-height;
        border-radius: 4px;
        display: inline;
        align-items: center;
        margin-right: $tech-height;
        font-size: 14px;
        padding: 0 8px;
        text-transform: lowercase;
        
        @include media-breakpoint-down(md) {
          display: inline-block;
        }
        
      }
    }

    .link {
      .fa {
        display: inline-flex;
        margin-top: 50px;
        align-items: center;
        position: 50% 50% 50% 50%;

        color: #595970;
        font-size: 5em;
      }

    }



  }

// .row{
//     align-items: center;
//     justify-content: center;
//     align-content: center;
// }



}

.code-challenge-project-container{
height: 90.5px;	
width: 365px;	
border-radius: 4px;	
background-color: #FFFFFF;	
box-shadow: 0 4px 16px -4px rgba(180,180,180,0.5);
padding-left: 0px;

  &:hover {
  box-shadow: $shadow-default;
    &:after {
      transition: opacity .15s ease-in-out;
      opacity: 0.1;
      @include media-breakpoint-down(md) {
        display: none;
      }
    }
  }

  .code-challenge-name {
      width: 201.37px;
      color: #08131F;
      height: 34px;
      size: 16px;
      justify-content: center;
      line-height: 34px;   
      opacity: 0.6;
      font-family: Roboto;
      line-height: 34px;
      margin-left: -50px;
      margin-top: 30px;
  
  }
  .code-challenge-card{
    height: 92px;
    display: flex;
    flex-direction: row;
    width: 52px;
    background-color: #61DAFB;
    margin-top: 0px;
    
    // width: 365px;	
    border-radius: 4px;	
    // background-color: #FFFFFF;	
    box-shadow: 0 4px 16px -4px rgba(180,180,180,0.5);
  }

  .code-challenge-image-container{
    
    .code-challenge-image{
      height: 50px;	
      width: 50px;	
      background-color: #222222;
      border-radius: 50%;
      margin-top: 20px;
      margin-left: 10px;
    
    }

  }



}