.code-challenge-code-area{
    height: 540px;	
    width: 1440px;	
    // background-color: #F8F9F9;	
    // box-shadow: 0 1px 4px 0 rgba(0,0,0,0.08);
    
    
    
}
.code-avatar{
    	height: 191px;	
    	width: 191px;	
    	background-color: #D8D8D8;
    	border-radius: 50%;
}

.code-challenge-code-title{
height: 44.8px;	
width: 904px;	
color: #2C2C36;	
font-family: Merriweather;	
font-size: 40px;	
font-weight: 300;	
line-height: 44.8px;
margin-top: 58px;
margin-left: 150px;
}


.code-challenge-right-columns{
    float: right;
    
}

.code-challenge-left-columns{


    
}


.code-challenge-preview{
    color: green($color: #b33f3f);
}


.code-challenge-code {	
height: 352px;	
width: 531px;	
border-radius: 9px;	
background-color: #2B303B;
}